In [33]:
import pandas as pd
import glob
import csv
import re
import numpy as np

In [38]:
extension = 'csv'

#grab all results with .csv
result = glob.glob('*.{}'.format(extension))
print(result)

#initilize output
with open('output/' +str(result[0]), 'w') as csvFile:
    csvFile.close()
print('output/'+str(result[0]) + " has been initialized")

#specify list of delimiters
delimiter_list = [';']

#read file
df = pd.read_csv(result[0])

#check the first column of a csv, see if there are any delimiters, if there are, use that to read
for items in delimiter_list:
    x = re.findall(items, df.columns[0])
    if len(x) > 0:
        df = pd.read_csv(result[0], items)
df.head()

['aadw_2017.csv']
output/aadw_2017.csv has been initialized

,Section ID,STD Street,Block Num,Direction,Year,Day of Week,AADW,Hr Cnt,X,Y,Longitude,Latitude,geopoint
0,166.0,W GEORGIA ST,1900.0,E,2016.0,Monday,30946.0,1080.0,490110.9378,5.460155e+06,-123.136005,49.29406,"49.2940601959,-123.136005118"
1,166.0,W GEORGIA ST,1900.0,E,2016.0,Wednesday,32764.0,1080.0,490110.9378,5.460155e+06,-123.136005,49.29406,"49.2940601959,-123.136005118"
2,166.0,W GEORGIA ST,1900.0,E,2016.0,Friday,32489.0,1080.0,490110.9378,5.460155e+06,-123.136005,49.29406,"49.2940601959,-123.136005118"
3,166.0,W GEORGIA ST,1900.0,E,2016.0,Saturday,28415.0,1128.0,490110.9378,5.460155e+06,-123.136005,49.29406,"49.2940601959,-123.136005118"
4,166.0,W GEORGIA ST,1900.0,W,2016.0,Tuesday,33558.0,240.0,490110.9378,5.460155e+06,-123.136005,49.29406,"49.2940601959,-123.136005118"

In [39]:
n_rows = df.shape[0]
n_columns = df.shape[1]


with open('output/' +str(result[0]), 'a') as csvFile:

    #declare csv writer, delimiter = ' ' for writing stuff into a once cell
    writer = csv.writer(csvFile, delimiter = ' ')
    #excute a writerow command, can be list, dictionary, etc.

    #insert file name
    writer.writerow(['File Name : '+str(result[0])])
    #insert number of rows
    writer.writerow(["There are " +str(n_rows) + " rows"])
    #insert number of columns
    writer.writerow(["There are " +str(n_columns) + " columns"])
csvFile.close()
print('output/'+str(result[0]) +' has been updated with a title')

output/aadw_2017.csv has been updated with a title

In [40]:
my_dict = {}
my_dict.update([(0, df.loc[0,:]),(1, df.loc[1,:])])
summary = pd.DataFrame.from_dict(my_dict)
summary = summary.T

In [41]:
with open('output/' +str(result[0]), 'a') as csvfile:
    fieldnames =summary.columns
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    #unpack dictionary
    for i in range(2):
        #declare dictionary
        dict1 = {}
        for items in summary.columns:
            #append items into dict1
            dict1.update([ (items, summary[items][i])])
        writer.writerow(dict1)
    writer_linebreak = csv.writer(csvfile, delimiter = ' ')
print('output/'+str(result[0]) +' has been updated with a summary')

output/aadw_2017.csv has been updated with a summary

aadw_2017.csv summary:
    csv does not have an index 
    csv is ';' seperated

to do:
    add delimited = ; -> done
    add index if there is no index
    also, # of column includes index right now. gotta deal with that